.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.copybuttons{
    float:right;
    display: inline;
    background-color: #26943f;
    color: white;
    border: double;
    border-radius: 6px;
    padding-bottom: 4px;
    padding-top: 1px;
}

.copybuttons:hover{
    background-color: #f1eee5;
    color: #0d7425;
    border: double;
}